# OSX
.DS_Store

# Node
node_modules/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3

# iOS / CocoaPods
ios/Pods/
ios/*.xcworkspace
ios/build/

# Android/IntelliJ
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
*.iml

# C++ build artifacts (React Native JNI)
.cxx/

# Stubs / shims (not real source)
__stubs__/

# RN Debug
*.hprof

# Metro
.metro-health-check*

# Bundle
*.bundle
*.jsbundle

# Temp
*.log
.cache
